---
import FrontPage from '../components/front-page.astro';

const colors = ['#354453', '#354461', '#172C54', '#1B3067']
const classes = ['bg-[#354453]', 'bg-[#354461]', 'bg-[#172C54]', 'bg-[#1B3067]']
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<title>Bambus</title>
	</head>
	<body class="pt-4 pb-20">
    <div class="grid grid-cols-[repeat(1,1fr)] min-[900px]:grid-cols-[repeat(2,26rem)] min-[1800px]:grid-cols-[repeat(4,26rem)] justify-center gap-x-10 gap-y-10">
      {colors.map(color => <FrontPage color={"background-color:" + color + ";"} value={color} index={colors.indexOf(color) + 1}/>)}
    </div>
	</body>
</html>
